.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-spacing {
  width: 40%;
  height: 90vh;
  display: flex;
  align-items: center;
}

.wrapper {
  width: 40%;
}

.header {
  width: 10%;
  height: 100vh;
  font-family: 'Roboto Condensed', Helvetica,sans-serif;
  margin: 35vh 3% 0 17%;
  position: fixed;
}

.sub-header{
margin-top: 50px;
text-decoration: underline;
font-weight: bold;
}

.name {
  font-weight: bolder;
  color:black !important;
  font-size: 28px;
  line-height: 25px;
}

.name:hover {
  opacity: .6;
}

.last-name {
  color: #000000;
}

.role-group {
  margin: 20px 0 20px 0;
}

.role {
  margin: 0;
  color:#949494; 
}

.contact {
  display: flex;
  flex-direction: column;
}

a:link, a:visited, a:active { 
  color:#000000; 
  text-decoration:none;
}

a:hover {
  opacity: .6;
  transition-duration: .25s;
}

html {
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-size: 16px;
}

.minihead {
  font-family: 'Roboto', Helvetica,sans-serif;
  background: rgb(255, 255, 255);
  text-decoration: none;
  color:black;
  text-align: left;
}

.project-title {
  max-width: 800px;
  font-family: 'Roboto', Helvetica,sans-serif; 
}  

.quote{
  width: 100%;
  font-family: 'Roboto', Helvetica,sans-serif; 
  line-height: 1.3em;
  font-size: 11pt;
  margin-left: 3em;
font-weight: bold;

}
.project-text {
  width: 100%;
  font-family: 'Roboto', Helvetica,sans-serif; 
  line-height: 1.7em;
}  

.interactive{
 margin-top: 30px;
}

.project-nav {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.project-pic {
  width: 100%;
  margin: 10px 0 10px 0;
}

.cartoon-portrait{
  max-height: 30vh;

}

.selected-art-pic {
  max-width: 100%;
  justify-content: center;
  max-height: 75vh;
}

.brand-img-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.brand-img-bottom-container {
  display: flex;
  justify-content: center;
}

.brand-img {
  width: 32%;
  height: auto;
}

.brand-img-two {
  width: 30%;
  height: auto;
  margin-left: 30px;
}

.brand-img-bottom {
  width: 75%;
  height: 40vh;
  margin-bottom: 10px;
  padding-right: 20px;
}

.project-citation {
  max-width: 800px;
  width: 90%;
  font-family: 'Roboto', Helvetica,sans-serif; 
  line-height: 1.8em;
  font-size: .7em;
  color: grey;
}

.robo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-pic-robot {
  margin-top: 10px;
  width: 33%;
}

.footer {
  font-size: 12px;
  font-family: 'Roboto Condensed', Helvetica,sans-serif;
  color:rgb(133, 133, 133);
  background: rgb(255, 255, 255);
  text-align: right;
}

@media screen and (max-width: 1200px) {
  .header {
    position: relative;
    text-align: center;
    height: 330px;
    margin: 3em 0 0 0;
    width: 100%;
  }

  .role-group, .contact {
    font-size: 36px;
  }

  
  .name {
    font-weight: bolder;
    color:black !important;
    font-size: 45px;
    line-height: 25px;
  }

    .project-text{
      line-height: 1.9em;
      font-size: 13px;
    }



  .wrapper-spacing, .wrapper {
    width: 100%;
    height: auto;
  }

  .selected-art-pic {
    max-height: 75vh;
  }
}
