

.wrapper {
  @include flexbox();
}

.item {
  @include flex(1 200px);
  @include order(2);
}



.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.wrapper > * { 
  padding: 10px;
  flex: 1 100%;
}

@media all and (min-width: 300px) {
  
  .role { order: 2; } 
  .header { order: 3; }
  .projects { order: 4; }
  .footer  { order: 5; }
}

/* start styling*/

 /* a { padding:15px; font-weight:bold; float:left; } */
 a:link, a:visited, a:active { color:#9c9c9c; text-decoration:none;}
 /* a:visited { color:#6d6d6d; } */
 a:hover { color:#2fac8c;}
 /*a:active { color:#6b6b6b;}*/

html {
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    font-size: 16px;
    
}
 .name{
   font-weight: bold;
   text-decoration: none;
   color:black !important;
   transition: all .25s ease-in-out;
   
 }
.role{
  font-family: 'Roboto Condensed', Helvetica,sans-serif;
}

.contact{
  font-family: 'Roboto Condensed', Helvetica,sans-serif; 
}
.header {
  background: rgb(255, 255, 255);
  text-decoration: none;
  color:black;
  text-align: left;
  }


  .minihead {
    font-family: 'Roboto', Helvetica,sans-serif;
    background: rgb(255, 255, 255);
    text-decoration: none;
    color:black;
    text-align: left;
    }

  .project-title{
    max-width: 800px;
    font-family: 'Roboto', Helvetica,sans-serif; 
  }  
  .project-text{
  max-width: 800px;
  width: 90%;
  font-family: 'Roboto', Helvetica,sans-serif; 
  line-height: 1.8em;
}  

.project-citation{
  max-width: 800px;
  width: 90%;
  font-family: 'Roboto', Helvetica,sans-serif; 
  line-height: 1.8em;
  font-size: .7em;
  color: grey;
}
.project-pic{
  max-width: 800px ;
  height: auto;
  font-family: 'Roboto', Helvetica,sans-serif; 
  line-height: 1.8em;
}
img{
  max-width: 90% ;
  height: auto;
}

div{
  max-width: 100%;
}
.footer {
    font-size: 12px;
    font-family: 'Roboto Condensed', Helvetica,sans-serif;
    color:rgb(133, 133, 133);
    background: rgb(255, 255, 255);
    text-align: right;
  }
